/* Reset */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	height: 100%;
	font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* Flexbox Utility Classes */
/* This doesn't work on all browsers, but still
   has good support */

.flexbox {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexbox-item {
	margin: auto;
}

.flexbox-item--top {
	align-self: flex-start;
}

.flexbox-item--bottom {
	align-self: flex-end;
}


/**
 * Background
 */
body {
	background: #00c6ff;
	background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
	background: linear-gradient(to bottom, #0072ff, #00c6ff);
}

/**
 * Box
 */
#box {
	display:block;
	max-width: 500px;
	padding: 40px;
	width: 100%;
	max-height: auto;
	background-color: #eee;
	border-radius: 6px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#box p {
	color: #888;
	font-size: 20px;
}

/**
 * Button
 */
#box button {
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	width: 100%;
	border: 0;
	border-radius: 4px;
	padding: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	transition: all .15s ease;
	margin-top: 20px;
	outline: none;
	background-color: #d6d6d6;
}
#box button:hover { // Hover Styling
	background: #c7c7c7;
	transform: translateY(-2px);
	cursor: pointer;
}

/**
 * Answer Button
 */
#box button.answer {
	background-color: #6797cf;
	color: #FFF;
}
#box button.answer:hover {
	background-color: #63a1eb;
}

/**
 * Reset Button
 */
#box button.reset {
	background-color: #bfbfbf;
	color: #000;
}
#box button.reset:hover {
	background-color: #cfcccc;
}
